html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

/*************************************** CONTAINER DESKTOP */

@media (min-width: 992px) {
    .container{
        max-width: 1440px;
    }
}

.main-section{
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(0, 100%, 74%);
}


/*************************************** LEFT SECTION */
.left-section {    
    min-height: 800px;
    padding: 0 2% 0 12%;
    line-height: 1.8;
    color: #ffffff;
}

h1{
    font-weight: 700;
    font-size: 3rem;
}

/**************************************  RIGHT SECTION */

.right-section {
    padding: 0 11% 0 0;
    min-height: 800px;
}

.btn-custom-trial{
    background-color: hsl(248, 32%, 49%);
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
}
.btn-custom-claim{
    border: 0;
    border-radius: 7px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 5px 0px 0px #39b380;
    background-color: hsl(154, 59%, 51%);
}
.btn-custom-trial span{
    font-weight: 600;
}
.form-control{
    color: hsl(249, 10%, 26%);
    font-size: 0.9rem;
    font-weight: 500;
}
input:focus {
    border: 1px solid hsl(249, 10%, 26%);
    color: hsl(249, 10%, 26%);
    font-weight: 600;
}
.form-control:focus, .btn-custom-claim:focus, .btn-custom-trial:focus {
    border-color: inherit;
    box-shadow: none;
    outline: 0;
}  
.rounded-custom {
    border-radius: 0.8rem!important;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
}
.legals{
    color: hsl(249, 10%, 26%);
    font-size: 0.7rem;
    text-align: center;
    color: hsl(246, 25%, 77%);
}
.legals span{
    font-weight: 700;
    color:hsl(0, 100%, 74%);
    line-height: 3;
}


/**************************************  FORM VALIDATION */
.message-error{
    font-weight: 500;
    color:hsl(0, 100%, 74%);
    font-size: 0.7rem;
}
.icon-err{
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
}


/**************************************  MOBILE VERSIONE */

@media (max-width: 992px) {

    body{
        height: auto;
        text-align: center;
        padding: 0;
    }
    .container{
        padding: 0;
    }
    .main-section{
        background-image: url(../images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: hsl(0, 100%, 74%);
        padding: 0;
    }
    h1{
        font-weight: 600;
        font-size: 1.8rem;
    }
    .left-section{    
        min-height: auto;
        padding: 25% 10% 0;
        font-size: 1rem;
    }
    .right-section {    
        min-height: 100%;
        padding: 10% 10% 20% 10%!important;
        font-size: 1rem;
    }
    .btn-custom-trial{
        font-size: 1rem;
        padding: 20px 50px!important;
    }
    .card{
        padding: 0 8%!important; 
    }

}

